@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

body{
  background-color:#555;
    font-family:arial;
}

h1{
  text-align:center;
  font-family:Montserrat;
  color:white;
  text-shadow:0 0 4px grey,1px 1px 0px grey;
}

table{
  border-collapse: collapse;
  background-color:white;
  border-radius:10px 10px 0 0;
  margin:auto;
}

.borderLeft,.borderRight{
  border-radius:10px 0 0 0;
}

.borderRight{
  border-radius:0 10px 0 0;
}

th{
  height:50px;
  padding:0 45px;
  text-align:center;
  color:white;
  background-color:#66CCFF;
}

tr td{
  height:50px;
  text-align:center;
  border-bottom:1px solid lightgrey;
  cursor:pointer;
}

tr td:first-child{
  border-right:1px solid lightgrey;
}


.env{
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.add{
  margin:auto;
  margin-top:5%;
  background-color:#F0F0F0;
  width:500px;
  border-radius:5px;

}

h2{
  text-align:center;
  margin:0;
  padding-top:20px;
  color:#333;
}


.form-group{
  margin-top:0px;
  padding:0 100px 20px;
}

.form-group:first-child{
  margin-top:20px;
}

.form-group input{
  width:100%;
}

button{
  background-color:#66CCFF;
  border-radius:4px;
  width:102%;
  padding:10px 10px;
  border:0px;
  transition:0.5s background;
  color:white;
}

.spe{
  
  width:565px;
  margin:auto;
  display:block;
  margin-top:20px;
}

button:hover{
  background-color:#3399FF;
}

button:active{
  box-shadow:0px 0px 5px #297ACC inset;
}


.math,.Math,.maths,.Maths,.Mathématiques,.Mathématique,.mathématiques,.mathématique{
  background-color:#339933;
}

.active{
  background-color:lightblue;
}

.leftContent{
  width:210px;
  position: relative;
  margin-top:-400px;
  background-color:white;
  padding:5px 10px;
  border-radius:4px;
  border:1px solid grey;
}

.leftContent button{
  margin-top:20px;
}

.leftContent label{
  line-height:30px;
}

.red{
  position:relative;
  top:-10px;
  background-color:#FF0000;
}

.white{
  background-color:white;
}

.math{
  background-color:green;
}

.francais{
  background-color:#2580AA;
}

.physique{
  background-color:#66CCFF;
}

.anglais{
  background-color:#F23E3E;
}

.lv2{
  background-color:yellow;
}